.game{
    width: 800px;
    text-align: center;
    background-color:cornflowerblue;
}
.listbutton{
    display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.listbutton button{
    margin:15px 10px;
}
.container:first-child{
    background-color:crimson;
    padding: 20px;
    color: #fff;
}
.container{
    padding:20px;
}
.word{
    font-size: 36px;
    font-weight: 600;
}